<div class="dashboard-container">

  <div class="dashboard-header">
    <h1>Administração</h1>

    <p>
      Gerencie os tipos de resíduos e locais de descarte
      do sistema Coleta Inteligente.
    </p>
  </div>

  <div class="dashboard-grid">

    <!-- USUÁRIOS -->
    <a
      *ngIf="auth.isAdmin()"
      routerLink="/admin/usuarios"
      class="dashboard-card"
    >
      <div class="icon">👥</div>

      <h2>Usuários</h2>

      <p>
        Cadastro e gerenciamento dos usuários administrativos.
      </p>
    </a>

    <!-- TIPOS DE RESÍDUO -->
    <a
      routerLink="/admin/tipo-residuo"
      class="dashboard-card"
    >
      <div class="icon">♻</div>

      <h2>Tipos de Resíduo</h2>

      <p>
        Cadastre e mantenha os resíduos aceitos pela coleta seletiva.
      </p>
    </a>

    <!-- LOCAIS DE DESCARTE -->
    <a
      routerLink="/admin/local-descarte"
      class="dashboard-card"
    >
      <div class="icon">📍</div>

      <h2>Locais de Descarte</h2>

      <p>
        Gerencie os pontos de coleta disponíveis na cidade.
      </p>
    </a>

    <!-- VÍNCULO -->
    <a
      routerLink="/admin/local-descarte-tipo-residuo"
      class="dashboard-card"
    >
      <div class="icon">🔗</div>

      <h2>Locais x Resíduos</h2>

      <p>
        Relacione os tipos de resíduos aceitos em cada ponto.
      </p>
    </a>

  </div>

</div>
